<!DOCTYPE html>
<!-- https://smartmockups.com/mockup/iphone-11-pro-in-4-colors-h98h3GkI8T -->
<html>
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-HW5Z2SRFHM"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-HW5Z2SRFHM');
        </script>
        <meta charset="utf-8">
        <meta property="og:url"                content="https://typetap.app" />
        <meta property="og:type"               content="website" />
        <meta property="og:title"              content="Type Tap - Teach Your Kids How To Type" />
        <meta property="og:description"        content="Type Tap teaches children how to type using letter dictation and enriches their vocabulary by connecting each word to a corresponding image. Type Tap is designed for children ages 3 and up and contains hundreds of words from a variety of different categories." />
        <meta property="og:image"              content="https://typetap.app/images/social-2.png" />
        <meta property="fb:app_id"             content="375310986899955" />

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Type Tap</title>
        <link rel="shortcut icon" href="images/fav_icon.png" type="image/x-icon">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@554&display=swap" rel="stylesheet">
        <!-- Bulma Version 0.9.0-->
        <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
        <link rel="stylesheet" type="text/css" href="../css/hero.css">
        <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" />
        <style>
            .title.is-1, .title.is-2, .title.is-3, .is-size-1, .is-size-2, .is-size-3                                                                                                                                                                                                                                                                                   {
                font-weight: 200 !important;
                font-family: 'Roboto Slab', serif;
            }

        </style>
        <!-- Facebook Pixel Code -->
        <script>
          !function(f,b,e,v,n,t,s)
          {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
          n.callMethod.apply(n,arguments):n.queue.push(arguments)};
          if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
          n.queue=[];t=b.createElement(e);t.async=!0;
          t.src=v;s=b.getElementsByTagName(e)[0];
          s.parentNode.insertBefore(t,s)}(window, document,'script',
          'https://connect.facebook.net/en_US/fbevents.js');
          fbq('init', '405331250709905');
          fbq('track', 'PageView');
        </script>
        <noscript><img height="1" width="1" style="display:none"
          src="https://www.facebook.com/tr?id=405331250709905&ev=PageView&noscript=1"
        /></noscript>
        <!-- End Facebook Pixel Code -->
    </head>
    <body>
    <nav class="navbar is-info">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <strong style="font-size: 1.5em"><img src="images/taptap-head.png" style="vertical-align: middle"> Type Tap</strong>
                </a>
                <span class="navbar-burger burger" data-target="navbarMenu">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </div>
            <div id="navbarMenu" class="navbar-menu">
                <div class="navbar-end">
                    <a class="navbar-item" href="#home">Home</a>
                    <a class="navbar-item" href="#features">Features</a>
                    <a class="navbar-item" href="#download">Download</a>
                </div>
            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock %}

        <footer class="footer has-background-dark">
            <div class="container">
                <div class="columns">
                    <div class="column is-3 is-offset-2">
                        <h2><strong style="color: white">Useful Links</strong></h2>
                        <ul>
                            <li><a href="tos.html" style="color: white">Terms of Service</a></li>
                            <li><a href="privacy.html" style="color: white">Privacy Policy</a></li>
                        </ul>
                    </div>
                    <div class="column is-3">
                        <h2><strong style="color: white">Contact Us</strong></h2>
                        <p><a style="color: white" href="mailto:support@typetap.app">support@typetap.app</a></p>
                    </div>
                </div>
            </div>
            <script src="images/../js/bulma.js"></script>
        </footer>

    <script>
        var getOutboundLink = function(url) {
          gtag('event', 'download', {
            'event_label': url,
            'transport_type': 'beacon',
          });
        }
        document.querySelectorAll("a").forEach((link) => {
            link.addEventListener("click", () => {

                console.log('send click', link.href)
                getOutboundLink(link.href)
            })
        })
    </script>
    </body>
</html>